<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Posterous</string>
	<key>uuid</key>
	<string>34C25B14-D661-4AC9-9E4A-0F03AC0708C0</string>
</dict>
</plist>
